language: perl
dist: trusty
perl:
  - '5.16'
  - '5.18'
  - '5.20'
  - '5.22'
  - '5.30'
branches:
  only:
    - master
    - prototype
install:
  - "cpanm -n Test::Pod Test::Pod::Coverage"
  - "cpanm -n --installdeps ."
notifications:
  email: sugama@jamadam.com
